
<mat-toolbar>
  <span><a routerLink="/" class="logo" (click)="changeActive('main')">PetCare</a></span>

    <a routerLink="posts/lost" (click)="changeActive('lost')" [class.active] = "href == 'lost'">Lost Animals</a>
    <a routerLink="posts/found" (click)="changeActive('found')" [class.active] = "href == 'found'">Found Animals</a>

    <div class="dropdown">
      <button class="dropbtn">Staff
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="announcements" (click)="changeActive('announcements')" [class.active] = "href == 'announcements'"  >Announcments</a>
        <a routerLink="/professionals" (click)="changeActive('professionals')" [class.active] = "href == 'professionals'">Proffesionals</a>
        <a routerLink="/institutions" (click)="changeActive('institutions')" [class.active] = "href == 'institutions'">Institutions</a>
      </div>
    </div>
    <div *ngIf="user.role == 'APPROVER' || user.role == 'ADMIN'">
    <div class="dropdown">
      <button class="dropbtn">Manage
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/apps" (click)="changeActive('apps')" [class.active] = "href == 'apps'">User Applications</a>
        <div *ngIf="user.role == 'ADMIN'">
          <a routerLink="admin/users" (click)="changeActive('users')" [class.active] = "href == 'users'">Users</a>
        </div>
      </div>
    </div>
    </div>
      <span *ngIf="user.username != null" class="header-right">
        <a routerLink="notifications" (click)="changeActive('notifications')" [class.active] = "href == 'notifications'">
          <div [matBadge]="notifications" matBadgeOverlap="true" class="condition-badge"><mat-icon>notifications</mat-icon></div>
        </a>
        <a routerLink="messages" class="icons-right" (click)="changeActive('messages')" [class.active] = "href == 'messages'">
          <div [matBadge]="newmessages" matBadgeOverlap="true" class="condition-badge"><mat-icon>chat Bubble</mat-icon></div>
        </a>
        <div *ngIf="user.username!=''" class="img-name">
          <div class="account-name">{{user.fullname}}</div>
          <img mat-button [matMenuTriggerFor]="menu" class="account-image" [src]="user.accimage">
        </div>
      </span>
      <span *ngIf="user.username == null" class="header-right">
        <a routerLink="/login" style="line-height: 80px;height: 100px;border-radius: 0px;">Log in</a>
      </span>
</mat-toolbar>

        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/myposts">My Posts</button>
          <button mat-menu-item routerLink="/account/settings">User Settings</button>
          <button mat-menu-item routerLink="/account">Account</button>
          <button mat-menu-item (click)="Logout()">Logout</button>
        </mat-menu>
