<div class="form-container">
  <mat-tab-group style="background-color: aliceblue;margin: 20px;">
    <mat-tab label="For Profession">

      <form [formGroup]="application_form_prof" (ngSubmit)="CreateProfApplication()">

        <mat-form-field class="center" appearance="outline">
          <mat-label>Profession</mat-label>
          <input matInput formControlName="profession">
          <div *ngIf="application_form_prof?.get('profession')?.invalid && application_form_prof?.get('profession')?.touched" class="form-error-text">
            Please enter your profession
          </div>
        </mat-form-field>
        <mat-form-field class="center" appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
        <mat-form-field class="center" appearance="outline">
          <mat-label>Lon</mat-label>
          <input matInput type="number" formControlName="longitude">
          <div *ngIf="application_form_prof?.get('longitude')?.invalid && application_form_prof?.get('longitude')?.touched" class="form-error-text">
            Location must be in Greece (Lat:33-42 ,Lon:18-32)
          </div>
        </mat-form-field>
        <mat-form-field class="center" appearance="outline">
          <mat-label>Lat</mat-label>
          <input matInput type="number" formControlName="latitude">
          <div *ngIf="application_form_prof?.get('latitude')?.invalid && application_form_prof?.get('latitude')?.touched" class="form-error-text">
            Location must be in Greece (Lat:33-42 ,Lon:18-32)
          </div>
        </mat-form-field>
        <app-map-input (postiionChanged)="changeCrendentials($event)" [lon]="lonInput" [lat]="latInput"></app-map-input>
      <div class="center">
        <button mat-stroked-button type="submit">Send Application Request</button>
      </div>
      </form>

    </mat-tab>
    <mat-tab label="For Institution">
      <form [formGroup]="application_form_inst" (ngSubmit)="CreateInstApplication()">

        <mat-form-field class="sidenav-input-text center" appearance="outline">
          <mat-label>Institution</mat-label>
          <mat-select formControlName="instId">
            <div *ngFor="let i of institutions">
              <mat-option [value]="i.id">{{i.name}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="center" appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
      <div class="center">
        <button mat-stroked-button type="submit">Send Application Request</button>
      </div>
      </form>

    </mat-tab>
  </mat-tab-group>
</div>
