
<div class="paragraph" style="background-color: aqua;">
<div style="text-align: center;"><h1>PetCare</h1></div>
<div style="text-align: center;"><h1>A site for lost pets</h1></div>
</div>
<div class="paragraph" style="background-color: rgb(71, 151, 40);">
<div class="text">
  <mat-card appearance="outlined" class="block">
    <mat-card-content>
      <div class="title-block">Find Your lost pets</div>
      <p class="paragraph-block">
        Here you can post your missing pets and alert other people of your situation. In this site everyone can help to find your lost pet.
      </p>
  </mat-card-content>
  <a><button mat-button class="button-block" style="margin-top: 20px;">View lost pets</button></a>
  </mat-card>
  <img style="" src="assets/images/searching.jpg" alt="image">
  </div>
</div>

<div class="paragraph" style="background-color: rgb(120, 34, 178);">
<div class="text">
<mat-card appearance="outlined" class="block">
  <mat-card-content>
    <div class="title-block">Become a Member</div>
    <p class="paragraph-block">
      Help other people with you professional skills by becoming a member and helping pet needing healing and care.
    </p>
</mat-card-content>
<a><button mat-button class="button-block" style="margin-top: 20px;">Make an Application Now!</button></a>
</mat-card>
<img style="" src="assets/images/vets.jpg" alt="image">
</div>
</div>


<div class="paragraph" style="background-color: firebrick;">
  <div class="text">
    <mat-card appearance="outlined" class="block">
      <mat-card-content>
        <div class="title-block">See New Changes</div>
        <p class="paragraph-block">
          See whatever new comes to our srevices and never be outdated.
        </p>
    </mat-card-content>
    <a><button mat-button class="button-block" style="margin-top: 20px;">View Anouncements</button></a>
    </mat-card>
    </div>
    <img style="" src="assets/images/announcements.jpg" alt="image">
</div>

<app-footer></app-footer>
