<div class="container-s">
  <mat-card class="card-items inst-card">
      <mat-card-header>
        <div class="card-title">
          <mat-card-title style="font-size: 200%;">Employees</mat-card-title>
        </div>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
      <mat-tab-group>
        <mat-tab label="Professionals">
        <form [formGroup]="prof_select">
        <mat-selection-list name="shoes" formControlName="select" multiple="false" (selectionChange)="onSelectionChangeProf($event)">
        <div *ngFor="let prof of professionals">
            <mat-list-option [value]="prof.id"> {{prof.name}} {{prof.middleName}} {{prof.surname}}</mat-list-option>
        </div>
        </mat-selection-list>
        </form>
        </mat-tab>


        <mat-tab label="Institution Officials">

          <form [formGroup]="inst_select">
            <mat-selection-list name="shoes" formControlName="select" multiple="false" (selectionChange)="onSelectionChangeInst($event)">
            <div *ngFor="let empl of inst_employees">
                <mat-list-option [value]="empl.id"> {{empl.name}} {{empl.middleName}} {{empl.surname}}</mat-list-option>
            </div>
            </mat-selection-list>
            </form>

        </mat-tab>



      </mat-tab-group>
      <mat-card-footer>
      </mat-card-footer>
  </mat-card>
  <mat-card class="card-items details-card">
    <mat-card-header>
        <mat-card-title>Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <div *ngIf="prof_select.controls.select.value != null">
      <div class="details-text">
      <p><strong>Professional</strong></p>
    <p><strong>Id:</strong>{{showProf()?.id}}</p>
    <p><strong>Profession:</strong>{{showProf()?.profession}} {{showProf()?.profId}}</p>
    <app-map-output [lat]="showProf()?.latitude" [lon]="showProf()?.longitude"></app-map-output>
    <a *ngIf="p.length>0" [routerLink]="'/myposts'" [queryParams]="{ type: 'vet', id: showProf()?.profId }" ><button mat-button class="inst-button">Give Pet</button></a>
    </div>
    </div>

    <div *ngIf="inst_select.controls.select.value != null">
      <p><strong>Institution emplyee</strong></p>
      <p><strong>Id:</strong>{{showEmpl()?.id}}</p>
      <p><strong>InstId:</strong>{{showEmpl()?.instId}} {{showEmpl()?.institution}}</p>
      </div>
      </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
  </div>
