

<div class="container">
  <mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" style="background-color: wheat;" opened>

    <div class="sidenav-items">

      <mat-form-field>
        <mat-label>Search Post</mat-label>
        <input matInput [(ngModel)]="searchText" (ngModelChange)="onChange()">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sort By ...</mat-label>
        <mat-select [(ngModel)]="sortBy" (ngModelChange)="onChange()">
          <mat-option value="distance">Distance</mat-option>
          <mat-option value="time">Time</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox class="example-margin" [(ngModel)]="isEmergency" (click)="filter()">Emergency</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="isAdopted" (click)="filter()">For Adoption</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="inInstitution" (click)="filter()">In Institution</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="isAtDoctor" (click)="filter()">Healing</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="isReturned" (click)="filter()">Returned</mat-checkbox>
    <form>
        <mat-label><div style="text-align: center;margin: 10px;">Animal</div></mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [matAutocomplete]="auto" [(ngModel)]="searchAnimal" (ngModelChange)="onChange()">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
    </form>
    <div>

      <div style="text-align: center;margin: 10px;">
        From
      </div>
    <mat-form-field class="center">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker1"  [(ngModel)]="selectedDayFrom" (dateChange)="onDateChange()">
      <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="center">
      <mat-label>Time</mat-label>
      <input matInput
        [matTimepicker]="timepicker" [(ngModel)]="selectedTimeFrom" (ngModelChange)="onDateChange()">
      <mat-timepicker #timepicker/>
      <mat-timepicker-toggle [for]="timepicker" matSuffix/>
    </mat-form-field>
    </div>

    <div>

      <div class="" style="text-align: center;margin: 10px;">
        To
      </div>

      <mat-form-field class="center">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDayTo" (ngModelChange)="onDateChange()">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="center">
        <mat-label>Time</mat-label>
        <input matInput
          [matTimepicker]="timepicker1" [(ngModel)]="selectedTimeTo" (ngModelChange)="onDateChange()">
        <mat-timepicker #timepicker1/>
        <mat-timepicker-toggle [for]="timepicker1" matSuffix/>
      </mat-form-field>
      </div>
      <div>
      </div>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <div class="buttons-up">

      <button type="button" mat-button style="background-color: aliceblue;float: right;margin-right:10px;"
      (click)="sidenav.toggle()">
        Toggle sidenav
      </button>
      <a routerLink="/posts/new" style="margin-right:10px;float: right"><button mat-stroked-button style="background-color: aliceblue;">
        Add post
      </button></a>
      </div>


  <div *ngFor="let post of p_show" style="margin: 10px;">
    <app-post-box [post]="post"></app-post-box>
  </div>
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

</div>

