<div class="container">
  <h1 style="text-align: center;font-size:300%;">Edit Account</h1>


<form [formGroup]="edit_form" (ngSubmit)="SaveChanges()">
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Username [If changed , login required again with new username]</mat-label>
        <input type="text" matInput formControlName="username">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Password [Leave Empty for no changes]</mat-label>
        <input type="password" matInput formControlName="password">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmpassword">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Surname</mat-label>
        <input type="text" matInput formControlName="surname">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>MiddleName</mat-label>
        <input type="text" matInput formControlName="middleName">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Email</mat-label>
        <textarea matInput formControlName="email"></textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Telephone</mat-label>
        <textarea matInput formControlName="telephone"></textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </div>

<label for="image">Upload</label><br>
<input type="file" (change)="onImageUpload($event)" id="image" name="image">
<div class="center">
  <button mat-stroked-button type="submit">Save Changes</button>
</div>
</form>


</div>
