<div class="container">
<div style="background-color: blanchedalmond;min-height: 100%;padding: 10px;">
<h1 style="text-align: center;font-size:300%;">New Announcement</h1>


<form [formGroup]="ann_form" (ngSubmit)="MakeAnnouncement()">
<div>
  <mat-form-field class="center" appearance="outline">
      <mat-label>Title</mat-label>
      <input type="text" matInput formControlName="title">
  </mat-form-field>
</div>
<div>
  <mat-form-field class="center" appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput  #message maxlength="500" formControlName="message"></textarea>
      <mat-hint align="start"><strong>{{message.value.length}}/500</strong> </mat-hint>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="center" appearance="outline">
    <mat-label>At Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div>
  <mat-form-field class="center" appearance="outline">
      <mat-label>Post Id</mat-label>
      <input type="number" matInput formControlName="postId">
  </mat-form-field>
</div>
<div class="center">
  <button mat-stroked-button type="submit">Create Announcement</button>
</div>
</form>

</div>
</div>
