<a href="/user/search"><button mat-stroked-button class="search-button">Search User</button></a>
<div *ngIf="user_id != null">
<div class="container">
  <mat-card class="card-box">
      <mat-card-header>
          <mat-card-title>Account Details</mat-card-title>
          <mat-card-subtitle>For {{userDetails?.name}} {{userDetails?.middleName}} {{userDetails?.surname}}</mat-card-subtitle>
      </mat-card-header>
      <img [src]="image">
      <mat-card-content>
        <p><strong>Username:</strong> {{userDetails?.username}}</p>
        <p><strong>Name:</strong> {{userDetails?.name}}</p>
        <p><strong>Middle name:</strong> {{userDetails?.middleName}}</p>
        <p><strong>Surname:</strong> {{userDetails?.surname}}</p>
        <div *ngIf="userDetails?.email != null"><p><strong>Email:</strong> {{userDetails?.email}}</p></div>
        <div *ngIf="userDetails?.telephone != null"><p><strong>Telephone:</strong> {{userDetails?.telephone}}</p></div>
        <button mat-stroked-button (click)="sendMessage()" class="button">Send a Message</button>
        <div *ngIf="userDetails?.profId != null">
        <hr class="solid">
          <p><strong>Profession:</strong> {{userDetails?.profession}}</p>
        </div>
        <div *ngIf="userDetails?.instId?.length != 0">
        <hr class="solid">
          <div *ngFor="let inst of userDetails?.institution">
          <p><strong>Institution:</strong> {{inst}}</p>
          </div>
        </div>
        <a *ngIf="p.length>0" [routerLink]="'/myposts'" [queryParams]="{ type: 'common', id: userDetails?.id}" ><button mat-stroked-button class="give-button">Give Pet</button></a>
      </mat-card-content>

      <mat-card-footer>
      </mat-card-footer>
  </mat-card>
  </div>
</div>
