<div class="container">
  <a href="/user/search"><button mat-stroked-button class="search-button">Search User</button></a>
<mat-card class="card-box">
    <mat-card-header>
        <mat-card-title>Account Details</mat-card-title>
        <mat-card-subtitle>For {{fullname}}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="image">
    <mat-card-content>
      <p><strong>Username:</strong> {{account.username}}</p>
      <p><strong>Password:</strong> *** </p>
      <p><strong>Name:</strong> {{account.name}}</p>
      <p><strong>Middle name:</strong> {{account.middleName}}</p>
      <p><strong>Surname:</strong> {{account.surname}}</p>
      <p><strong>Email:</strong> {{account.email}}</p>
      <p><strong>Telephone:</strong> {{account.telephone}}</p>
      <p><strong>Created At:</strong> {{account.createdAt | date:'long'}}</p>
      <p><strong>Description:</strong> {{account.description}}</p>
      <a routerLink="/account/edit"><button mat-stroked-button>Change Details</button></a>
      <div *ngIf="userdetails.profId == null && userdetails.institution?.length == 0">
      <hr class="solid">
        You have no employment record on this site
      </div>
      <div *ngIf="userdetails.profId != null">
      <p><strong>Profession:</strong> {{userdetails.profession}}</p>
      </div>
      <div *ngIf="userdetails.instId! != null">
        <hr class="solid">
        <div *ngFor="let i of userdetails.institution">
          <p><strong>In Institution:</strong> {{i}} </p>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <a routerLink="/new/application"><button mat-stroked-button>Make an Application</button></a>
    </mat-card-actions>

    <mat-card-footer>
    </mat-card-footer>
</mat-card>
</div>
