html, body { height: 100%; }

body{
  background-color: rgb(255, 255, 255);
}

* {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mat-sys-primary:rgba(0, 134, 56, 0.757);
}

.container-s{
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  height: 100%;
  background: white;
}

.container-small-s{
  width: 60%;
  margin-right: auto;
  margin-left: auto;

  height: 100%;
  background: white;
}

.center-item-s{
  display: flex;
  justify-content: center;
  margin: 10px;
}

.form-error-text{
  color: rgb(156, 0, 0);
  font-size: small;
  padding-left: 3px;
}
