<div class="container-s">
<div *ngIf="post != null" style="margin-top: 20px;">
<app-post-box [post]="post" [isfoundcomponent]="false"></app-post-box>
</div>

<div *ngIf="post.holder == 'COMMON'">
  <h4>Post By: <a [routerLink]="'/user/'+post.animalHolderId">{{postFullname}}</a></h4>
</div>

<h1 style="text-align: center;font-size: 400%;">Comments</h1>

<div class="container-comments">
<div *ngFor="let comment of c">
  <div class="comment"><a routerLink="/user/{{comment?.userid}}">{{fullname.get(comment.userid)}}</a>:{{comment?.comment}}
    <span *ngIf="isAtLeastManager"><button (click)="deleteComment(comment?.id!)">del</button></span>
  </div>

</div>

</div>
<div class="form"  *ngIf="!timedout">
<form [formGroup]="form" (ngSubmit)="Sumbit()" class="form-container">
<div class="input-container">
  <mat-form-field appearance="outline">
      <mat-label>New Comment</mat-label>
      <input type="text" matInput formControlName="comment" [disabled]="timedout!" [placeholder]="timedout ? 'You have been timed out' : ''">
  </mat-form-field>
</div>
<div>
<button mat-stroked-button type="submit" >Add Comment</button>
</div>
</form>
</div>
</div>
