<div class="container">
  <h1 style="text-align: center;font-size:300%;">New Institution</h1>
<form [formGroup]="institution_form" (ngSubmit)="SumbitInstitution()">
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Institution Name</mat-label>
        <input type="text" matInput formControlName="name">
        <div *ngIf="institution_form?.get('name')?.invalid && institution_form?.get('name')?.touched" class="form-error-text">
          Name must exist
        </div>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Description</mat-label>
        <input type="text" matInput formControlName="description">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Lon</mat-label>
        <input type="number" matInput formControlName="longitude">
        <div *ngIf="institution_form?.get('longitude')?.invalid && institution_form?.get('longitude')?.touched" class="form-error-text">
          Location must be in Greece (Lat:33-42 ,Lon:18-32)
        </div>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Lat</mat-label>
        <input type="number" matInput formControlName="latitude">
        <div *ngIf="institution_form?.get('latitude')?.invalid && institution_form?.get('latitude')?.touched" class="form-error-text">
          Location must be in Greece (Lat:33-42 ,Lon:18-32)
        </div>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="center" appearance="outline">
        <mat-label>Telephone</mat-label>
        <input type="text" matInput formControlName="telephone">
    </mat-form-field>
  </div>
  <app-map-input (postiionChanged)="changeCrendentials($event)" [lon]="lonInput" [lat]="latInput"></app-map-input>
  <div class="center">
    <button mat-stroked-button type="submit">Add Institution</button>
  </div>
</form>
</div>
