.card-items{
  display: inline-block;
  align-items: center;
  margin: 10px auto 0;
  perspective: 700px;
  margin: 10px;
}

.inst-button{
  width:100%;
  height:70px;
  background-color: aliceblue;
  gap: 10px;
}

.inst-card{
  width: 35%;
  height:80%;
  background-color: rgb(43, 128, 255);
}

.details-card{
  width: 55%;
  height:550px;
}

.card-title{
  margin: 30px auto;
  text-align: center;
  padding: auto;
}


.container-s{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-position{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.content-details{
  width:100%;
  padding: 10px;
}

.details-text{
  padding-left: 40px;
  width: 40%;
}

app-map-output{
  width:60%;
}

.new-institution-button{
  position: absolute;
  right: 22px;
  top: 150px;
}
