<div class="container-s">
  <div>

  <a routerLink="/admin/institutions/new" class="new-institution-button"><button mat-stroked-button>New Institution</button></a>
  </div>
<mat-card class="card-items inst-card">
    <mat-card-header>
      <div class="card-title">
        <mat-card-title style="font-size: 200%;">Institutions</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>

      <div *ngFor="let inst of intitutions" style="padding:10px;justify-content: center;align-items: center;display: flex;">
        <button mat-button class="inst-button" (click)="selectInstitution(inst.id!)" style="margin: auto;">{{inst.name}}</button>
      </div>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>

<mat-card class="card-items details-card">
  <mat-card-content class="content-details">
  <div *ngIf="institution_selected != -1" class="flex-position">
    <div style="padding: 20px;">
      <div class="details-text">
        <p><strong style="font-size:20px;"><u>Details</u></strong></p>
        <p><strong>Name:</strong> {{intitutions[institution_selected].name}}</p>
        <p><strong>Location:</strong> Lat:{{intitutions[institution_selected].latitude}} Lon:{{intitutions[institution_selected].longitude}} </p>
        <div *ngIf="intitutions[institution_selected].description != null"><p><strong>Description:</strong> {{intitutions[institution_selected].description}}</p></div>
        <div *ngIf="intitutions[institution_selected].telephone != null"><p><strong>Telephone:</strong> {{intitutions[institution_selected].telephone}}</p></div>
        <p><strong>Staff:</strong></p>
      <div *ngFor="let user of intitutions[institution_selected].crew">
        <a [routerLink]="'/user/'+user.id">{{user.name}} {{user.middleName}} {{user.surname}}</a>
      </div>
        <a *ngIf="p.length>0" [routerLink]="'/myposts'" [queryParams]="{ type: 'institution', id: intitutions[institution_selected].id }" >
          <button mat-button class="inst-button">Give Pet</button>
        </a>
      </div>
    </div>
    <app-map-output [lon]="intitutions[institution_selected].longitude" [lat]="intitutions[institution_selected].latitude"></app-map-output>
  </div>

</mat-card-content>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
</div>
