.card-container{
  width: 60%;
  margin-right: auto;
  margin-left: auto;

  height: 100%;
  background: rgb(0, 102, 255);
}

.button{
  position:absolute;
  bottom: 16px;
  right: 8px;
}

.date{
  position:absolute;
  top: 16px;
  right: 8px;
}
